body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #595454;
  color: #ffffff;
  margin: 20px;
  font-size: 32px;
  
}
.game{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 10PX;
}

.square{
  background: #444444;
  color: #ffffff;
  border: 2px solid #999999;
  padding: 0;
  font-size: 84px;
  text-align: center;
  height: 100px;
  width: 100px;
  margin-right: 10px;

}
.square:focus {
  background-color: #333333;
}
.statusPlayer {
  margin: 20px;
  font-size: 24px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
